@{
    ViewBag.Title = "Home Page";
}

<h4>Welcome to Us</h4>


<li>@Html.ActionLink("Enter Vehicle Details", "CustomerVehicle", "Home")</li>

<li>@Html.ActionLink("Select Service", "Service", "Home")</li>




